{% extends "navigator/base.html" %}
{% load static %}

{% block link %}<link href="{% static "css/detail.css" %}" rel="stylesheet">{% endblock %}

{% block title %}
    {{ parsed_data.title }}
{% endblock %}

{% block content %}
  {% if query %}
        {% if market_results %}
          <div class="row row-2">
            <!--<h2>{% if category %}{{ category.name }}{% else %}Маркетплейсы{% endif %}</h2>
            <select class="s_sortirovka" onchange="window.location.href=this.options[this.selectedIndex].value">
                <option {% if not category %} selected {% endif %} value="{% url 'navigator:product_list' %}">Все продукты</option>
                {% for c in categories %}
                    <option {% if category.slug == c.slug %} selected {% endif %} value="{{ c.get_absolute_url }}">{{ c.name }}</option>
                {% endfor %}
            </select>-->
            <h2>Маркетплейсы</h2>
          </div>
        {% endif %}
          <div class="row">
              <!--{% for product in products %}
            <div class="col-4">
              <a href="{{ product.get_absolute_url }}"><img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"></a>
              <h4><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
              <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <p>{{ product.price }} ₽</p>
            </div>
              {% endfor %}-->
              {% for data in market_results %}
            <div class="col-4">
                    <a href="{{ data.get_absolute_url }}"><img src="{{ data.picture_urls.0 }}"></a>
                    <p><a href="{{ data.get_absolute_url }}">{{ data.title|truncatechars:30 }}</a></p>
              <p style="margin-top: -10px; margin-bottom: 3px;"><span style="font-size: 17px; color: black;">{{ data.new_price }} ₽</span>
                <span style="text-decoration: line-through; font-size: 15px; margin-left: 10px;">{{ data.old_price }} ₽</span></p>
              <div class="rating">
                <span style="font-size: 13px;"><i class="fas fa-star"></i></span>
                <span style="font-size: 14px;">{{data.reviewRating}}</span>
                </div>
                <p>{{data.website}}</p>
            </div>
          {% empty %}
                {% endfor %}
              {% if pizza_results %}
              <div class="row row-2">
                <h2>Пиццерии</h2>
              </div>
              {% endif %}
              {% for data in pizza_results %}
            <div class="col-4">
                    <a href="{{ data.get_absolute_url }}"><img src="{{ data.picture_url }}"></a>
                    <h4><a href="{{ data.get_absolute_url }}">{{ data.title }}</a></h4>
              <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
                <p>{{ data.price }} ₽</p>
                <p>{{data.website}}</p>
            </div>
          {% empty %}
                {% endfor %}

          <!--<div class="page-btn">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>&#8594;</span>
          </div>-->
        </div>
      {% else %}
    <div class = "card-wrapper">
      <div class = "card">
        <!-- card left -->
        <div class = "product-imgs">
          <div class = "img-display">
            <div class = "img-showcase">
              <img src="{% if parsed_data.picture_url %}{{ parsed_data.picture_url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
            </div>
          </div>
          <!--<div class = "img-select">
        <div class = "img-item">
          <a href = "#" data-id = "1">
            <img src = "https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_1.jpg" alt = "shoe image">
          </a>
        </div>
      </div>-->
        </div>
        <!-- card right -->
        <div class = "product-content">
          <h2 class = "product-title">{{ parsed_data.title }}</h2>
          <p class = "product-link">{{parsed_data.website}}</p>
         <!-- <div class = "product-rating">
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star-half-alt"></i>
            <span>4.7(21)</span>
          </div>-->

          <div class = "product-price">
            <!--<p class = "last-price">Old Price: <span>$257.00</span></p>-->
            <p class = "new-price">Цена: <span>{{ parsed_data.price }} ₽</span></p>
          </div>

          <div class = "product-detail">
            <h2>Подробности: </h2>
            <p>{{parsed_data.description|linebreaks}}</p>
            <ul>
              <li>Color: <span>Black</span></li>
              <li>Available: <span>in stock</span></li>
              <li>Category: <span>Shoes</span></li>
              <li>Shipping Area: <span>All over the world</span></li>
              <li>Shipping Fee: <span>Free</span></li>
            </ul>
          </div>

          <div class = "purchase-info">
            <form action="{% url 'cart:cart_add_pizzaroni' parsed_data.id %}" method="post">
            {{cart_product_form}}
            {% csrf_token %}
            <button type = "submit" class = "btn">
              В корзину <i class = "fas fa-shopping-cart"></i>
            </button>
            </form>
            <!--<button type = "button" class = "btn">Compare</button>-->
          </div>
          <div class = "social-links">
            <p>Share At: </p>
            <a href = "#">
              <i class = "fab fa-facebook-f"></i>
            </a>
            <a href = "#">
              <i class = "fab fa-twitter"></i>
            </a>
            <a href = "#">
              <i class = "fab fa-instagram"></i>
            </a>
            <a href = "#">
              <i class = "fab fa-whatsapp"></i>
            </a>
            <a href = "#">
              <i class = "fab fa-pinterest"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block script %}
const imgs = document.querySelectorAll('.img-select a');
        const imgBtns = [...imgs];
        let imgId = 1;

        imgBtns.forEach((imgItem) => {
            imgItem.addEventListener('click', (event) => {
                event.preventDefault();
                imgId = imgItem.dataset.id;
                slideImage();
            });
        });

        function slideImage(){
            const displayWidth = document.querySelector('.img-showcase img:first-child').clientWidth;

            document.querySelector('.img-showcase').style.transform = `translateX(${- (imgId - 1) * displayWidth}px)`;
        }

        window.addEventListener('resize', slideImage);








window.onload = function() {
    var img = document.querySelector('.img-showcase img') + document.querySelector('.img-select');
    var containerDiv1 = document.querySelector('#content');

    // Установить высоту контейнера равной высоте изображения
    containerDiv1.style.minHeight = img.offsetHeight + 'px';
};
{% endblock %}