{% extends "navigator/base.html" %}
{% load static %}

{% block title %}
    Пиццерии
{% endblock %}


{% block content %}
        {% if query %}
        {% if market_results %}
          <div class="row row-2">
            <!--<h2>{% if category %}{{ category.name }}{% else %}Маркетплейсы{% endif %}</h2>
            <select class="s_sortirovka" onchange="window.location.href=this.options[this.selectedIndex].value">
                <option {% if not category %} selected {% endif %} value="{% url 'navigator:product_list' %}">Все продукты</option>
                {% for c in categories %}
                    <option {% if category.slug == c.slug %} selected {% endif %} value="{{ c.get_absolute_url }}">{{ c.name }}</option>
                {% endfor %}
            </select>-->
            <h2>Маркетплейсы</h2>
          </div>
        {% endif %}
          <div class="row">
              <!--{% for product in products %}
            <div class="col-4">
              <a href="{{ product.get_absolute_url }}"><img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"></a>
              <h4><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
              <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <p>{{ product.price }} ₽</p>
            </div>
              {% endfor %}-->
              {% for data in market_results %}
            <div class="col-4">
                    <a href="{{ data.get_absolute_url }}"><img src="{{ data.picture_urls.0 }}"></a>
                    <p><a href="{{ data.get_absolute_url }}">{{ data.title|truncatechars:30 }}</a></p>
              <p style="margin-top: -10px; margin-bottom: 3px;"><span style="font-size: 17px; color: black;">{{ data.new_price }} ₽</span>
                <span style="text-decoration: line-through; font-size: 15px; margin-left: 10px;">{{ data.old_price }} ₽</span></p>
              <div class="rating">
                <span style="font-size: 13px;"><i class="fas fa-star"></i></span>
                <span style="font-size: 14px;">{{data.reviewRating}}</span>
                </div>
                <p>{{data.website}}</p>
            </div>
          {% empty %}
                {% endfor %}
              {% if pizza_results %}
              <div class="row row-2">
                <h2>Пиццерии</h2>
              </div>
              {% endif %}
              {% for data in pizza_results %}
            <div class="col-4">
                    <a href="{{ data.get_absolute_url }}"><img src="{{ data.picture_url }}"></a>
                    <h4><a href="{{ data.get_absolute_url }}">{{ data.title }}</a></h4>
              <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
                <p>{{ data.price }} ₽</p>
                <p>{{data.website}}</p>
            </div>
          {% empty %}
                {% endfor %}

          <!--<div class="page-btn">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>&#8594;</span>
          </div>-->
        </div>
      {% else %}
          <div class="row row-2">
            <!--<h2>{% if category %}{{ category.name }}{% else %}Маркетплейсы{% endif %}</h2>
            <select class="s_sortirovka" onchange="window.location.href=this.options[this.selectedIndex].value">
                <option {% if not category %} selected {% endif %} value="{% url 'navigator:product_list' %}">Все продукты</option>
                {% for c in categories %}
                    <option {% if category.slug == c.slug %} selected {% endif %} value="{{ c.get_absolute_url }}">{{ c.name }}</option>
                {% endfor %}
            </select>-->
              <h2>Пиццерии</h2>
          </div>

          <div class="row">
              {% for data in parsed_datas %}
            <div class="col-4">
                    <a href="{{ data.get_absolute_url }}"><img src="{{ data.picture_url }}"></a>
                    <h4><a href="{{ data.get_absolute_url }}">{{ data.title }}</a></h4>
              <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
                <p>{{ data.price }} ₽</p>
                <p>{{data.website}}</p>
            </div>
                {% endfor %}


          <!--<div class="page-btn">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>&#8594;</span>
          </div>-->
        {% endif %}
{% endblock %}