{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      {% block link %}{% endblock %}
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    <title>{% block title %}Главная{% endblock %}</title>  
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="logo">
          <a href="{% url "navigator:product_list" %}"><img class="logoimg" src={% static "img/logo.png" %} alt="Solidus" width="125px" /></a>
        </div>
        <nav>
          <ul id="MenuItems">
            <li><a href="index.html">Главаня</a></li>
            <li><a href="product.html">Услуги</a></li>
            <li><a href="#">Товары</a></li>
            <li><a href="#">Банки</a></li>
            <li><a href="account.html">Профиль</a></li>
          </ul>
        </nav>
        <a href="cart.html"><img src="https://i.ibb.co/PNjjx3y/cart.png" alt="" width="30px" height="30px" /></a>
        <img src="https://i.ibb.co/6XbqwjD/menu.png" alt="" class="menu-icon" onclick="menutoggle()" />
      </div>
    </div>
    <div class="problem">
    <div id="content">
        <div class="small-container">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    
    <!-- Footer -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col-1">
            <h3>Скачивайте наши приложения</h3>
            <p>Скачивайте приложения для Android или ios</p>
            <div class="app-logo">
              <img src="https://i.ibb.co/KbPTYYQ/play-store.png" alt="" />
              <img src="https://i.ibb.co/hVM4X2p/app-store.png" alt="" />
            </div>
          </div>

          <div class="footer-col-2">
            <img src="product/logo.png" alt="" />
            <p>
              Наше приложение создано для того чтобы облегчить вашу жизнь.
            </p>
          </div>

          <!--<div class="footer-col-3">
            <h3>Useful Links</h3>
            <ul>
              <li>Coupons</li>
              <li>Blog Post</li>
              <li>Return Policy</li>
              <li>Join Affiliate</li>
            </ul>
          </div>-->

          <div class="footer-col-4">
            <h3>Следите за нами</h3>
            <ul>
              <li>Facebook</li>
              <li>Twitter</li>
              <li>Instagram</li>
              <li>YouTube</li>
            </ul>
          </div>
        </div>
        <hr />
      </div>
    </div>
    </div>

    <!-- js for toggle menu -->
    <script>
      var MenuItems = document.getElementById('MenuItems');
      MenuItems.style.maxHeight = '0px';

      function menutoggle() {
        if (MenuItems.style.maxHeight == '0px') {
          MenuItems.style.maxHeight = '200px';
        } else {
          MenuItems.style.maxHeight = '0px';
        }
      }
    </script>
      <script>   
        {% block script %}{% endblock %}
    </script>
  </body>
</html>