{% extends "navigator/base.html" %}
{% load static %}
{% block title %}
 Your shopping cart
{% endblock %}
{% block content %}
{% if query %}
{% if market_results %}
          <div class="row row-2">
            <!--<h2>{% if category %}{{ category.name }}{% else %}Маркетплейсы{% endif %}</h2>
            <select class="s_sortirovka" onchange="window.location.href=this.options[this.selectedIndex].value">
                <option {% if not category %} selected {% endif %} value="{% url 'navigator:product_list' %}">Все продукты</option>
                {% for c in categories %}
                    <option {% if category.slug == c.slug %} selected {% endif %} value="{{ c.get_absolute_url }}">{{ c.name }}</option>
                {% endfor %}
            </select>-->
            <h2>Маркетплейсы</h2>
          </div>
        {% endif %}
          <div class="row">
              <!--{% for product in products %}
            <div class="col-4">
              <a href="{{ product.get_absolute_url }}"><img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"></a>
              <h4><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
              <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <p>{{ product.price }} ₽</p>
            </div>
              {% endfor %}-->
              {% for data in market_results %}
            <div class="col-4">
                    <a href="{{ data.get_absolute_url }}"><img src="{{ data.picture_urls.0 }}"></a>
                    <p><a href="{{ data.get_absolute_url }}">{{ data.title|truncatechars:30 }}</a></p>
              <p style="margin-top: -10px; margin-bottom: 3px;"><span style="font-size: 17px; color: black;">{{ data.new_price }} ₽</span>
                <span style="text-decoration: line-through; font-size: 15px; margin-left: 10px;">{{ data.old_price }} ₽</span></p>
              <div class="rating">
                <span style="font-size: 13px;"><i class="fas fa-star"></i></span>
                <span style="font-size: 14px;">{{data.reviewRating}}</span>
                </div>
                <p>{{data.website}}</p>
            </div>
          {% empty %}
                {% endfor %}
              {% if pizza_results %}
              <div class="row row-2">
                <h2>Пиццерии</h2>
              </div>
              {% endif %}
              {% for data in pizza_results %}
            <div class="col-4">
                    <a href="{{ data.get_absolute_url }}"><img src="{{ data.picture_url }}"></a>
                    <h4><a href="{{ data.get_absolute_url }}">{{ data.title }}</a></h4>
              <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
                <p>{{ data.price }} ₽</p>
                <p>{{data.website}}</p>
            </div>
          {% empty %}
                {% endfor %}

          <!--<div class="page-btn">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>&#8594;</span>
          </div>-->
        </div>
{% else %}
 <h1>Корзина</h1>
    {% if wildberries_cart.get_total_price > 0 %}
       <h2>Маркетплейсы</h2>
       {% for item in wildberries_cart %}
            <table class="cart">
                <thead><tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th></tr>
                </thead>
                <tbody>
                    {% with product=item.product %}
                    <tr>
                        <td>
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{% if product.picture_urls.0 %}{{ product.picture_urls.0}}{% else %}{% static "img/no_image.png" %}{% endif %}">
                            </a></td><td>{{ product.title }}
                        </td>
                        <td>{{ item.quantity }}</td>
                        <td>
                            <form action="{% url 'cart:cart_remove_wildberries' product.id %}" method="post">
                              <input type="submit" value="Убрать">
                              {% csrf_token %}
                            </form>
                        </td>
                        <td class="num">{{ item.new_price }} ₽</td>
                        <td class="num">{{ item.old_price }} ₽</td>
                    </tr>
                        {% endwith %}
                </tbody>
            </table>
      {% endfor %}
    <span>Общая сумма</span>
    <span class="num">{{ wildberries_cart.get_total_price }} ₽</span>
  {% endif %}
  {% if pizzaroni_cart.get_total_price > 0 %}
      <h2>Пиццерии</h2>    
        {% for item in pizzaroni_cart %}
            <table class="cart">
                <thead><tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th></tr>
                </thead>
                <tbody>
                    {% with product=item.product %}
                    <tr>
                        <td>
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{% if product.picture_url %}{{ product.picture_url}}{% else %}{% static "img/no_image.png" %}{% endif %}">
                            </a></td><td>{{ product.title }}
                        </td>
                        <td>{{ item.quantity }}</td>
                        <td>
                            <form action="{% url 'cart:cart_remove_pizzaroni' product.id %}" method="post">
                              <input type="submit" value="Убрать">
                              {% csrf_token %}
                            </form>
                        </td>
                        <td class="num">{{ item.price }} ₽</td>
                    </tr>
                        {% endwith %}
                </tbody>
            </table>
        {% endfor %}
    <span>Общая сумма</span>
    <span class="num">{{ pizzaroni_cart.get_total_price }} ₽</span>
  {% endif %}
    <p class="text-right">
        <a href="{% url "navigator:product_list" %}" class="buttonlight">К покупкам</a>
        <a href="#" class="button">Оформить</a>
    </p>
{% endif %}
{% endblock %}